/*hospital search*/			
	form{
margin-top: -30px;

	}
	  
	  /* Style the search field */
	  form.example input[type=text] {
          margin-left: 200px;
		padding: 10px;
		font-size: 17px;
		border: 1px solid grey;
		float: left;
		width: 30%;
		background: #f1f1f1;
	
	  }
	  
	  /* Style the submit button */
	  .example button {
		margin-top: 0px;
	  float: left;
	  width: 20%;
	  padding: 10px;
	  background: #2196F3;
	  color: white;
	  font-size: 17px;
	  border: 1px solid grey;
	  border-left: none; /* Prevent double borders */
	  cursor: pointer;
	}
	  
	  .example button:hover {
		background: #0b7dda;
	  }
	  
	  /* Clear floats */
	  .example::after {
		content: "";
		clear: both;
		display: table;
	  }